p Dear #{@user.first_name},
p We are pleased to inform you that your note has been successfully created.

p The note details are mentioned below:
ul
  li Title: #{@note.title}
  li Body: #{@note.body}

.spacer-xs-10
p Thanks,
p Note App